@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eric's Cars</h1>
    <p class="lead">Welcome to my Car Dealership!</p>
    <p>@Html.ActionLink("Browse Cars", "Index", "Automobiles", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>We got cars!</p>
        <p>@Html.ActionLink("Browse All Cars", "Index", "Automobiles", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Get some trucks!</h2>
        <p>WE got trucks too!</p>
        <p>@Html.ActionLink("Browse Trucks", "Index", "Automobiles", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Sports cars!</h2>
        <p>Get some sweet sports cars!</p>
        <p>@Html.ActionLink("Browse Sports Cars", "Index", "Automobiles", null, htmlAttributes: new { @class = "btn btn-default" })</a>
        </p>
    </div>
</div>